{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
<div id="banner-div">
    <div id="header-text-div">
        <a href="{{ home }}"><h1>EE M2M Connect Message Sender/Receiver     </h1></a>
        <p>
            <a href="https://validator.w3.org/check?uri=referer"><img
                        src="https://www.w3.org/Icons/valid-html401-blue"
                        alt="Valid HTML 4.01!" height="31" width="88" /></a>
        </p>
        <p>
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px"
                     src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                     alt="Valid CSS!" />
            </a>
        </p>
    </div>
    <div id="login-register-div">
        <a href="{{ login }}">Login</a> | <a href="{{ register }}">Register</a>
    </div>
    <div id="banner-background"></div>
</div>
<div id="clear-div"></div>
{% endblock %}