{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
<div id="banner-div">
    <div id="header-text-div">
        <a href="{{ home }}"><h1>EE M2M Connect Message Sender/Receiver</h1></a>
    </div>
    <div id="login-register-div">
        <a href="{{ login }}">Login</a> | <a href="{{ register }}">Register</a>
    </div>
    <div id="banner-background"></div>
</div>
<div id="clear-div"></div>
{% endblock %}