{% extends 'layout.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h4>{{ storage_text }}</h4>
        Username: {{ username }} </br>
        Password: {{ password }}
    </div>
{% endblock %}
