{% extends 'layout.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h4>{{ storage_text }}</h4>
        Username: {{ content }} </br>
        Password: {{ metadata }}
    </div>
{% endblock %}
