{% extends 'layout.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h4>{{ storage_text }}</h4>
        Peeked messages: {{ peeked_messages }} </br>
    </div>
{% endblock %}
